body {
    background-color: #4b0cb1;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 
        -2px -2px 0 #000,
		    2px -2px 0 #000,
		   -2px 2px 0 #000,
		    2px 2px 0 #000;
    letter-spacing: 1.5px;
    
}

p {
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
  }

.game-rules {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

#player-score {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 50px;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 15px 15px;
    margin: 0 auto;
    width: 330px;
    
}

.simon-button {
    border: 2px solid black;
    border-radius: 50%;
}

#red-button {
    background-color: #D14B3D;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 75px;
    color: white;
    
}

#green-button {
    background-color: #5ACB3C;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
}

#blue-button {
    background-color: #44A3F7;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
    
}

#yellow-button {
    background-color: #DEBF40;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
    
}

#button-area {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.hide {
    display: none;
}

#btn1 {
    background-color: #D14B3D;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;

}

#btn2 {
    background-color: #5ACB3C;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;

}

#btn3 {
    background-color: #44A3F7;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;

}

#btn4 {
    background-color: #DEBF40;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;
}

#sequence-button {
  position: relative;
  margin-top: 25px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: white;
  background-color: #4b0cb1;
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  text-shadow: 
      -2px -2px 0 #000,
		  2px -2px 0 #000,
		  -2px 2px 0 #000,
		  2px 2px 0 #000;
  letter-spacing: 1.5px;
}

/* #sequence-button::before {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: white;
  background-color: #4b0cb1;
  border: 3px white;

}
#sequence-button::after {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #4b0cb1;
  background-color: white;
  border: 3px white;

} */

#resultText {
    text-align: center;
    margin: 25px;
    font-size: 25px;
    color: white;
}