h1 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;

}

.game-rules {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

#player-score {
    text-align: center;
    padding-bottom: 75px;
    font-size: 30px;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    margin: 0 auto;
    width: 300px;
    
}

.simon-button {
    border: 2px solid black;
    border-radius: 50%;
}

#red-button {
    background-color: red;
    border: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 75px;
    color: white;
    
}

#green-button {
    background-color: green;
    border: green;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
}

#blue-button {
    background-color: blue;
    border: blue;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
    
}

#yellow-button {
    background-color: yellow;
    border: yellow;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 75px;
    
}

#button-area {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.hide {
    display: none;
}

#btn1 {
    background-color: red;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;
    margin-left: 50px;

}

#btn2 {
    background-color: green;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;
    margin-left: 50px;

}

#btn3 {
    background-color: blue;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;
    margin-left: 50px;

}

#btn4 {
    background-color: yellow;
    border: none;
    font-size: 60px;
    color: white;
    margin-top: 35px;
    margin-left: 50px;
}

#resultText {
    text-align: center;
    margin: 25px;
}